
<div>
  <div class="form-containt" id="login">
    <ul class="list-group">
            <li class="list-group-item list-group-item ">
                <div class="form-group">
                    <button class="btn btn-facebook"><i class="fa fa-facebook"></i> log in with facebook </button>
                </div>
                <div class="line">
                    <span>Or</span>
                </div>
              <div class="form-group">
                  <label for="Email">Email</label>
                  <input type="text" class="form-control">
              </div>

              <div class="form-group">
                  <label for="PWD">Password</label>
                  <input type="text" class="form-control">
              </div>
              <a href="#" class="d-block my-3">Forgot password?</a>

              <div class="form-group">
                    <input type="submit" class="form-control btn btn-login" value="Sign in" />
              </div>
              <div class="line">
                    <span>Or</span>
                </div>
                <a href="#" class="d-block my-3 text-center">Log in with your organization</a>
                <p class="text-center">This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>

</li>
            
            </ul>
            </div>
</div>
