<div>
  <!-- <form class="form-inline my-2 my-lg-0 w-50">
        <div class="position-relative w-100">
            <input class="form-control mr-sm-2 w-100" type="search" placeholder="Search For a Job Path "
                aria-label="Search">
            <span class="search btn btn-search"><i class="fa fa-search"></i></span>
        </div>

    </form> -->
  <br />
  <p class="h3 txt border-button ">
    Now , You Can Choose Your Career Path <i class="fa fa-hand-o-down"></i>
  </p>

  <div class="row">
    <app-card-item
      class="card col-md-3 mx-3"
      *ngFor="let x of data"
      [item]="x"
    ></app-card-item>
  </div>

  <!-- <div class="card col-md-3  m-3" style="widt
        h: 18rem;">
        <img src="../../assets/imgs/front.png"  height="200px"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Frontend Angular</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
        
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link btn btn-info btn-lg btn-block">View</a>
         
        </div>
      </div>
      <div class="card col-md-3 m-3" style="width: 18rem;">
        <img src="../../assets/imgs/web-development.png" height="200px" class="card-img-top" alt="...">
        <div class="card-body height1">
          <h5 class="card-title">Frontend React</h5>
          <p class="card-text">Some quick example text to build on the card title .</p>
        </div> 
        <ul class="list-group list-group-flush height2">
          <li class="list-group-item">Cras justo odio</li>
        
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body height3">
          <a href="#" class="card-link btn btn-info btn-lg btn-block">View</a>
         </div>
        </div>
      </div> -->

  <!-- <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div> -->
</div>
